<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <body>
            <h1>Home Page</h1>
            <p> Welcome to the home page!</p>
            <p>This is our t-shirt business. We're fairly new, but we are excited 
                to bring to you quality t-shirts! </p>
            <p>Thank you for stopping by!</p>
            <ul>
                <li><a href="http://127.0.0.1:25000/">Home Page</a></li>
                <li><a href="http://127.0.0.1:25000/selection">Selection</a></li>
            </ul>
        </body>
    </head>
</html>