<!DOCTYPE html>
<html>
    <head>
        <title>Log-in Page</title>
        <body>
            <h1>Login Page</h1>
            <ul>
                <li><a href="http://127.0.0.1:24000/">Home Page</a></li>
            </ul>
            <form action = "#", method = "post">
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email"><br>
                <label for="password">Password:</label><br>
                <input type="text" id="password" name="password"><br><br>
                <input type="submit" value="Submit"/>
                <input type="submit" value="Signup"/>
            </form>
        </body>
    </head>
</html>