<!DOCTYPE html>
<html>
    <head>
        <title>Selection</title>
        <ul>
            <li><a href="http://127.0.0.1:25000/">Home Page</a></li>
            <li><a href="http://127.0.0.1:25000/selection">Selection</a></li>
        </ul>
        <h1>Selection</h1>
        <body>
            <p>Unfortunately, we only have a few items available. Hoperfully that changes soon! </p>
            <figure>
                <img src="https://i.etsystatic.com/20195958/r/il/bc1d04/3519305980/il_fullxfull.3519305980_90xt.jpg" alt="The Smiths The Queen is Dead T-shirt" width=800 height=600>
                <figcaption>The Smiths - The Queen Is Dead</figcaption>
                <figcaption>$12.99</figcaption>
            </figure>
        </body>
    </head>
</html>